.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 25%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background:  rgb(74, 128, 160);
  margin-bottom: 1rem;
  overflow-x: hidden;
}
.container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgb(240, 211, 177);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(240, 211, 177);
}
input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
.access-denied {
  color: red;
  font-weight: bold;
  text-align: center;
}

.userCard {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
  border: 1px solid black;
  padding: 10px;
  background-color: aliceblue;
  color: black;
}
.butdashboard {
  padding: 5px 10px;
  background-color: rgb(240, 211, 177);
  color: rgb(74, 128, 160);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  margin-right: 5px;
}
.butdashboard:hover {
  color: rgb(240, 211, 177);
  background-color: rgb(74, 128, 160);
  font-weight: 550;
}
.butdashboard:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
