.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
}

@media (max-width: 680px) {
    .container {
        margin-top: 12vh;
    }
}