@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-80%);
  }
}
.container1 {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  height: auto; 
  align-items: center;
}
.slider {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: auto;
}
.slider .slide_track {
  transform: translateX(0);
  animation: scroll 50s ease-in-out infinite alternate;
  display: flex;
  align-items: center;
  width: auto;
  overflow: hidden;
}
.con {
  height: 100%;
  width: 100%;
}
.con:hover {
  transform: scale(1.1);
  border-radius: 5px;
}
.slider:hover .slide_track {
  animation-play-state: paused;
  cursor: pointer;
  transition: step-end;
}
.slider img {
  display: flex;
  align-items: center;
  margin: 5px;
  height: 300px;
  width: 400px;
  border-radius: 5px;
}

@media (max-width: 1468px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-80%);
    }
  }
}

@media (max-width: 1390px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-85%);
    }
  }
}

@media (max-width: 1280px) and (min-width: 1025px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-83%);
    }
  }
}

@media (max-width: 1024px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-86%);
    }
  }
}

@media (max-width: 912px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-89%);
    }
  }
}

@media (max-width: 820px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-89%);
    }
  }
}

@media (max-width: 712px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 768px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-90%);
    }
  }
}

@media (max-width: 540px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-93%);
    }
  }
}

@media (max-width: 414px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-95%);
    }
  }
}

@media (max-width: 412px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-93%);
    }
  }
  .slider img{
    height: 200px;
    width: 300px
  }
}

@media (max-width: 375px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-94%);
    }
  }
}

@media (max-width: 360px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-94%);
    }
  }
}

@media (max-width: 320px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-95%);
    }
  }
}

@media (max-width: 280px) {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-95%);
    }
  }
}