.container {
  position: fixed;
  right: 10px;
  top: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}
.wts {
  font-size: 2rem;
  color: rgb(10, 158, 22);
  z-index: 1000;
  /* animation: bounce 0.5s infinite; */
}
.wts:hover {
  color: rgb(0, 255, 21);
  cursor: pointer;
}
.face {
  color: #0c1996;
  font-size: 2rem;
  z-index: 1000;
}
.face:hover {
  color: blue;
  cursor: pointer;
}
.insta {
  color: purple;
  font-size: 2rem;
  z-index: 1000;
}
.insta:hover {
  color: rgb(180, 3, 180);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@media (max-width: 680px) {
  .container {
    top: 72vh;
  }
  .wts {
    color: rgb(0, 255, 21);
  }
  .face {
    color: blue;
  }
  .insta {
    color: rgb(180, 3, 180);
  }
}
