.det {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;/* 
  background-image: url("../assets/panoramica2.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  height: auto;
  width: 30rem;
  min-height: 27rem;
  border-radius: 10px;
  background:rgb(74, 128, 160);
  position: relative;
  margin-top: 13rem;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white;
  overflow: hidden;
}

.carrousel {
  width: 100%;
  flex: 1;
  height: 50%;
  max-height: 50%;
}
.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100%;
  color: rgb(240, 211, 177);
}
.info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.number {
  width: 100%;
  color: rgb(240, 211, 177);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.bathrooms {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 211, 177);
  width: auto;
  height: 40px;
  padding-left: 20px;
  margin-bottom: 10px;
  width: 50%;
  padding-bottom: 3px;
  background-color: black;
}
.bedrooms {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 650;
  color: black;
  border-bottom: 1px solid;
  padding-left: 10px;
  margin-bottom: 30px;
}

