.det {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 50%;
  width: 90%;
  border-radius: 10px;
  background:rgb(74, 128, 160);
  position: relative;
  margin-top: 10rem;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid white;
  overflow: hidden;
}

.carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 50%;
  flex: 1;
  overflow: hidden;
} 
.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageContainer img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.carousel {
  width: 100%;
  max-height: 50%;
}
/*estilos de las miniaturas */
.carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
}
/* estilos de cada miniatura */
.carousel .thumbs {
  display: flex;
  justify-content: center;
}
/* estilos de las imágenes dentro de las miniaturas */
.carousel .thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent; 
  transition: border-color 0.3s ease; 
  cursor: pointer; 
}
/* Estilo para la miniatura activa */
.carousel .thumb.selected {
  border-color: #ff8800; 
  transform: scale(1.2);
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 100%;
  color: rgb(240, 211, 177);
}

.rent {
  cursor: pointer;
  color: rgb(74, 128, 160);
  background-color: rgb(240, 211, 177);
  font-weight: 550;
  transform: translateY(-4.5%);
  border-radius: 0;
  border: 2px inset grey;
}
.buy {
  cursor: pointer;
  color: rgb(74, 128, 160);
  background-color: rgb(240, 211, 177);
  font-weight: 550;
  transform: translateY(-4.5%);
  border-radius: 0;
  border: 2px inset grey;
  margin-left: 1.5px;
}
.ava {
  cursor: pointer;
  background-color: black;
  color: rgb(240, 211, 177);
  width: auto;
  font-weight: 550;
  transform: translateY(-4.5%);
  border-radius: 0;
  border: 2px inset rgb(102, 100, 100);
}
.ava:hover {
  color: black;
  background-color: rgb(240, 211, 177);
}
.rent:hover {
  color: rgb(240, 211, 177);
  background-color: black;
}
.buy:hover {
  color: rgb(240, 211, 177);
  background-color: black;
}

.info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.price {
  width: 100%;
  display: flex;
  height: 40px;
  margin: 0;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 120%;
  font-weight: bold;
  background-color: rgba(74, 128, 160, 0.664);
}
.number {
  width: 100%;
  color: rgb(240, 211, 177);
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.bathrooms {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(240, 211, 177);
  width: auto;
  height: 40px;
  margin-bottom: 10px;
  width: 50%;
  background-color: black;
}
.bedrooms {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 650;
  color: black;
  border-bottom: 1px solid;
  padding-left: 20px;
  margin-bottom: 30px;
}
