.filterRentContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  border-radius: 5px;
  margin: 0;
  height: auto;
  background-color: transparent;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
}
.filterRentTitle {
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(74, 128, 160);
  margin-top: 0;
}
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: rgb(74, 128, 160);
  color: rgb(240, 211, 177);
  border-radius: 3px;
  width: 100%;
}
/* .submit {
  display: flex;
  align-items: normal;
  justify-content: center;

} */
.rentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(74, 128, 160);
  background-color: rgb(240, 211, 177);
  font-weight: bold;
  height: 30px;
  width: auto;
  border: 2px inset grey;
  transition: background-color 0.3s;
  transform: translateY(31.5%);
}
.rentButton:hover {
  color: rgb(240, 211, 177);
  background-color: rgb(74, 128, 160);
}