.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: auto;
  width: 100%;
  background: rgb(74, 128, 160);
  overflow-x: hidden;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.by {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black /* rgb(240, 211, 177) */;
  margin: 20px;
}
.p {
  color: black /* rgb(240, 211, 177) */;
  gap: 5px;
}
.a {
  text-decoration: none;
}
.a p:hover {
  color: white;
}

@media (max-width: 680px) {
  .footer {
    font-size: 90%;
  }
}