.homeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 650;
  text-align: center;
  overflow-x: hidden;
  margin-top: 5rem;
}

.carousel {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  font-size: 0.8rem;
  margin-top: 2rem;
  overflow: hidden;
}
h2 {
  color: #333;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scrollIn {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.content {
  animation: fadeIn 2.5s ease-in-out;
}
.Metro {
  width: auto;
  max-width: 100%;
  animation: scrollIn 2s ease-in-out;
}
.subtitle {
  font-size: 1.2rem;
  color: #333;
}
.ad {
  flex-shrink: 1;
  flex-grow: 1; 
  margin-top: 1rem;
  padding: 10px;
  width: auto;
  background-color: rgb(74, 128, 160); 
  border-radius: 5px;
  animation: pulse 2s infinite; 
}
@keyframes pulse {
  0%, 100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}
.p {
  width: 100%;
  color: #333;
  font-size: 15px;
}

.features {
  font-size: 3rem;
  color: rgb(74, 128, 160);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}

.mapContainer {
  width: 90%;
  height: 200px;
  margin-bottom: 2rem;
}

