.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(74, 128, 160);
  color: rgb(240, 211, 177);
  font-weight: 550;
  margin-bottom: 10px;
  border: 2px inset grey
}
.login:hover {
  cursor: pointer;
  color: rgb(74, 128, 160);
  background-color: rgb(240, 211, 177);
}
.icon {
  margin-left: 2px;
  font-size: 20px;
}