.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;background-color: rgb(74, 128, 160);
  color: rgb(240, 211, 177);
  margin-bottom: 10px;
  font-weight: 550;
  border: 2px inset grey;
}
.logout:hover {
  color: rgb(74, 128, 160);
  background-color: rgb(240, 211, 177);
  cursor: pointer;
}
.icon {
  margin-left: 4px;
  font-size: 20px;
}
