header {
  display: block;
  background: linear-gradient(to top, black, rgb(74, 128, 160));
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgb(218, 190, 102);
}
.navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  background-image: url("../assets/panoramica.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image {
  border-radius: 50%;
  width: 20%;
  padding: 10px;
}
.hide {
  display: none;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 80px;
}
.links a {
  display: flex;
  text-decoration: none;
  font-size: 28px;
  color: rgb(240, 211, 177);
  font-weight: 600;
}
.links a:hover {
  color: rgb(74, 128, 160);
}
.menuIcon {
  display: none;
  cursor: pointer;
  position: absolute;
  transform: translateY(-70%);
  color: white;
}
.closeIcon {
  font-size: 40px;
  position: absolute;
  transform: translateY(-106%);
  color: white;
}
.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px;
  border-top: none;
}
.menuOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgb(74, 128, 160);
  padding: 10px;
}

@media (max-width: 680px) {
  .header {
    border-bottom: 1px solid rgb(240, 211, 177);
  }
  .links {
    display: none;
  }
  .links a {
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    align-content: center;
    width: 120px;
    color: rgb(240, 211, 177);
    font-weight: 600;
    font-size: 24px;
  }
  .links a:hover {
    color: rgb(74, 128, 160);
  }
  .menuIcon {
    display: flex;
    font-size: 50px;
    right: 30px;
  }
  .closeIcon {
    font-size: 50px;
    right: 3px;
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 23px;
    margin: 0;
    margin-bottom: 0;
    background-image: url("../assets/panoramica.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .image {
    border-radius: 50%;
    width: 80px;
  }
  .show {
    display: flex;
    flex-direction: column;
    right: 0;
    background-color: transparent;
    padding-top: 10px;
    border-top: none;
    z-index: 1000;
  }
}
